#body_title_container {
margin:auto; text-align:center;
}

#fronts_reds {
margin:auto; text-align:center;
}

#shorts {
margin:auto; text-align:center;
}

#greens {
margin:auto; text-align:center;
}

body {
 color:blue;
}
